body {
  height: 1930px;
}

#face_start {
  width: 332px;
  height: 230px;
  margin-left: 24px;
  right: 24px;
  top: 30px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 82, 216, 0)), to(rgba(44, 82, 216, 0.4))), #54D1ED;
  background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
  /* Card shadow 1 */
  -webkit-box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
          box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
  border-radius: 20px;
}

#img1 {
  position: absolute;
  width: 170px;
  height: 180px;
  margin-left: 155px;
  top: 80px;
}

#user_name {
  position: static;
  width: 268px;
  height: 25px;
  margin-left: 24px;
  margin-top: 54px;
  margin-bottom: 10px;
  /* Subtitle 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  /* 75% */
  color: #58506B;
}

#user_notification {
  position: absolute;
  margin-top: 54px;
  margin-left: 315px;
}

#paragraph1 {
  color: white;
  position: absolute;
  width: 112px;
  height: 50px;
  margin-left: 25px;
  margin-top: 30px;
  /* Subtitle 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

#paragraph2 {
  position: absolute;
  color: white;
  margin-top: 120px;
  margin-left: 20px;
  width: 56px;
  height: 21px;
  /* Normal 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height, or 150% */
}

#paragraph3 {
  position: absolute;
  width: 185px;
  height: 49px;
  margin-left: 20px;
  margin-top: 140px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* White */
  color: #FFFFFF;
}

#counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 369px;
  /* White */
  background: #FFFFFF;
  /* Card shadow soft */
  -webkit-box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
          box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
  border-radius: 25px;
}

#inver, #rendi {
  position: static;
  width: 130px;
  height: 21px;
  margin-left: 5px;
  margin-top: 5px;
  /* Normal 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 75% */
  color: #58506B;
}

#dv1 {
  position: static;
  width: 270px;
  height: 0px;
  left: 20px;
  top: 52px;
  /* Background */
  border: 1px solid #FAF9FD;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

#balan_inver, #balan_rendi {
  position: static;
  width: 132px;
  height: 21px;
  margin-left: 100px;
  margin-top: 10px;
  /* Normal 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  letter-spacing: -0.01em;
  /* 75% */
  color: #58506B;
}

#metas1 {
  margin-top: 170px;
}

#title_meta {
  margin-left: 24px;
  position: absolute;
  width: 271px;
  height: 25px;
  /* Subtitle 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 75% */
  color: #58506B;
}

#add_intitle {
  margin-left: 315px;
  position: absolute;
}

#sec_palm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 158px;
  height: 202px;
  left: 24px;
  top: 556px;
  /* White */
  background: #FFFFFF;
  /* Card shadow soft */
  -webkit-box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
          box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
  border-radius: 20px;
}

#sec_compu {
  /* Auto Layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 158px;
  height: 202px;
  left: 193px;
  top: 556px;
  /* White */
  background: #FFFFFF;
  /* Card shadow soft */
  -webkit-box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
          box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
  border-radius: 20px;
}

#paragraph4, #paragraph5 {
  position: static;
  width: 118px;
  height: 42px;
  left: 20px;
  top: 70px;
  /* Normal 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.01em;
  /* 50% */
  color: #817699;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

.dv2 {
  position: static;
  width: 118px;
  height: 0px;
  left: 20px;
  top: 122px;
  /* Background */
  border: 1px solid #FAF9FD;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#sec_porcen, #sec_porcen:after {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 132px;
  border-radius: 50%;
  /* Background */
  background: #FAF9FD;
}

#sec_porcen {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  background-color: transparent;
  border-top: 5px solid rgba(66, 139, 202, 0.2);
  border-right: 5px solid rgba(66, 139, 202, 0.2);
  border-bottom: 5px solid rgba(66, 139, 202, 0.2);
  border-left: 5px solid #54D1ED;
}

#bono {
  color: #54D1ED;
  position: absolute;
  width: 63px;
  height: 16px;
  left: 75px;
  top: 65px;
  /* Caption 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

#real_bon {
  position: absolute;
  width: 63px;
  height: 14px;
  left: 75px;
  top: 81px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: -0.03em;
  /* 50% */
  color: #817699;
}

#number_porcen {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  width: 38px;
  height: 16px;
  margin-top: 5px;
  margin-left: -8px;
  /* Caption 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #54D1ED;
}

#sec2_porcen, #sec2_porcen:after {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 20px;
  top: 132px;
  border-radius: 50%;
  /* Background */
  background: #FAF9FD;
}

#sec2_porcen {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  background-color: transparent;
  border-top: 5px solid rgba(66, 139, 202, 0.2);
  border-right: 5px solid rgba(66, 139, 202, 0.2);
  border-bottom: 5px solid rgba(66, 139, 202, 0.2);
  border-left: 5px solid rgba(66, 139, 202, 0.2);
}

#bono2 {
  color: #54D1ED;
  position: absolute;
  width: 63px;
  height: 16px;
  left: 75px;
  top: 65px;
  /* Caption 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

#real_bon2 {
  position: absolute;
  width: 63px;
  height: 14px;
  left: 75px;
  top: 81px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: -0.03em;
  /* 50% */
  color: #817699;
}

#number_porcen2 {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  width: 38px;
  height: 16px;
  margin-top: 3px;
  margin-left: -6px;
  /* Caption 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #54D1ED;
}

#portafolio1 {
  margin-top: 280px;
}

#portafolio_title {
  position: absolute;
  width: 271px;
  height: 25px;
  left: 24px;
  top: 798px;
  /* Subtitle 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 75% */
  color: #58506B;
}

#button_estrategia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3px 10px;
  position: absolute;
  width: 64px;
  height: 21px;
  top: 800px;
  left: 285px;
  /* Success Soft */
  background: #E4FFEE;
  /* Success */
  border: 0.5px solid #41CF69;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

#estrategia_text {
  position: static;
  width: 44px;
  height: 15px;
  margin-left: 10px;
  top: 3px;
  /* Menu 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* Success */
  color: #41CF69;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 5px 0px;
}

#cont_portafolio {
  position: absolute;
  width: 327px;
  height: 229px;
  left: 24px;
  top: 843px;
  /* White */
  background: #FFFFFF;
  /* Card shadow soft */
  -webkit-box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
          box-shadow: 0px 8px 20px rgba(45, 43, 48, 0.05);
  border-radius: 20px;
}

#circ_robot {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-top: 18px;
  padding: 0px;
  border-radius: 50%;
  /* 75% */
  background: white;
  opacity: 0.5;
}

#fig_robot {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 60px;
  margin-top: -90px;
}

#paragraph6 {
  position: absolute;
  width: 64px;
  height: 14px;
  left: 70px;
  top: 90px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 50% */
  color: #817699;
}

#paragraph7 {
  position: absolute;
  width: 64px;
  height: 16px;
  left: 70px;
  top: 100px;
  /* Caption 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
}

#skan_sec {
  position: absolute;
  width: 147px;
  height: 103px;
  right: 20px;
  top: 20px;
  /* White */
  background: #FFFFFF;
}

#box_porc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1px 8px;
  position: absolute;
  width: 36px;
  height: 15px;
  left: 111px;
  top: 6px;
  /* Success */
  background: #41CF69;
  border-radius: 6px;
}

#paragraph8 {
  position: static;
  width: 20px;
  height: 14px;
  right: 8px;
  top: 0.5px;
  /* Menu 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  text-align: right;
  letter-spacing: -0.03em;
  /* White */
  color: #FFFFFF;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 10px 0px;
}

#efect {
  position: absolute;
  width: 147px;
  height: 16px;
  left: 14px;
  top: 26px;
  /* Caption 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
}

#dinero_efec {
  position: absolute;
  width: 147px;
  height: 16px;
  left: 14px;
  top: 46px;
  /* Caption 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
}

#tipo_act {
  position: absolute;
  width: 147px;
  height: 14px;
  left: 14px;
  top: 65px;
  /* Menu 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* Success */
  color: #41CF69;
}

#rent_fij {
  position: absolute;
  width: 147px;
  height: 28px;
  left: 14px;
  top: 79px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
}

#izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 6px;
  top: 131px;
  padding-left: 6px;
  /* White */
  background: #FFFFFF;
  /* Background */
  border: 1px solid #FAF9FD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

#der {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4px;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 100px;
  top: 131px;
  padding-left: 8px;
  /* White */
  background: #FFFFFF;
  /* Background */
  border: 1px solid #FAF9FD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

#paragraph9 {
  position: absolute;
  width: 287px;
  height: 28px;
  margin-left: 64px;
  margin-top: 230px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11.5px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
}

#pts_ {
  position: absolute;
  width: 271px;
  height: 25px;
  left: 24px;
  top: 1112px;
  /* Subtitle 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 75% */
  color: #58506B;
}

#iface {
  position: absolute;
  width: 332px;
  height: 221px;
  margin-left: 24px;
  margin-top: -158.5px;
  border-radius: 20px;
}

#maquet {
  width: 332px;
  height: 122px;
  margin-left: 24px;
  margin-top: 530px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 82, 216, 0)), to(rgba(44, 82, 216, 0.4))), #54D1ED;
  background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
  background-blend-mode: multiply, normal;
  border-radius: 20px;
  opacity: 1;
}

#paragraph10 {
  position: absolute;
  width: 190px;
  height: 33px;
  margin-left: 24px;
  margin-top: 40px;
  /* Title 2 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* White */
  color: #FFFFFF;
}

#paragraph11 {
  position: absolute;
  width: 287px;
  height: 32px;
  margin-left: 24px;
  margin-top: 75px;
  /* Caption 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* White */
  color: #FFFFFF;
}

#cont_cir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 10px;
}

#cir1 {
  position: static;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 5px;
  margin-left: 16px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 82, 216, 0)), to(rgba(44, 82, 216, 0.4))), #54D1ED;
  background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
  background-blend-mode: multiply, normal;
  /* Inside Auto Layout */
}

#cir2 {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 5px;
  border-radius: 50%;
  /* Primary Soft */
  background: #D7C7FF;
  /* Inside Auto Layout */
}

#cir3 {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 5px;
  border-radius: 50%;
  /* Primary Soft */
  background: #D7C7FF;
}

#play {
  position: absolute;
  left: 170px;
  top: 1240px;
}

#test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  position: absolute;
  width: 327px;
  height: 334px;
  left: 24px;
  top: 1497px;
  /* White */
  background: #FFFFFF;
  /* Card shadow soft */
  -webkit-box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
          box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
  border-radius: 20px;
}

.conten_test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 287px;
  height: 68px;
  left: 20px;
  top: 20px;
  /* White */
  background: #FFFFFF;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 15px;
}

.gastos_tit {
  position: static;
  width: 202px;
  height: 21px;
  left: 0px;
  top: 0px;
  /* Normal 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 150% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 50% */
  color: #817699;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 5px;
}

.paragraph_gast {
  position: static;
  width: 202px;
  height: 42px;
  left: 0px;
  top: 26px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.03em;
  /* 75% */
  color: #58506B;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 5px;
}

.fig_pl {
  position: static;
  width: 68px;
  height: 68px;
  left: 219px;
  top: -0px;
  border-radius: 20px;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 5px 0px;
}

.divisor {
  position: static;
  width: 287px;
  height: 0px;
  left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Background */
  border: 1px solid #FAF9FD;
  /* Inside Auto Layout */
}

#cont_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: static;
  width: 327px;
  height: 60px;
  left: 24px;
  top: 450px;
  /* White */
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
          box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
  border-radius: 16px;
  margin-top: 400px;
  margin-left: 24px;
}

#inicio {
  position: static;
  width: 37px;
  height: 14px;
  left: 0px;
  top: 27px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 3px;
  color: #54D1ED;
}

#historial {
  position: static;
  width: 37px;
  height: 14px;
  left: px;
  top: 27px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 25% */
  color: #A99DC6;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-left: -4px;
}

#ahorrar1 {
  position: static;
  width: 37px;
  height: 14px;
  left: 128px;
  top: 27px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 25% */
  color: #A99DC6;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-left: 22px;
  margin-top: 36px;
}

#mi_perfil {
  position: static;
  width: 37px;
  height: 14px;
  left: 0px;
  top: 27px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 25% */
  color: #A99DC6;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-left: -4px;
}

#mas {
  position: static;
  width: 37px;
  height: 14px;
  left: 0px;
  top: 27px;
  /* Menu 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  /* 25% */
  color: #A99DC6;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 3px;
}

#home {
  margin-left: 24px;
  margin-top: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#story {
  margin-left: 16px;
  margin-top: 12px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add {
  outline: none;
  position: absolute;
  margin-left: 163px;
  margin-top: 380px;
}

#user {
  margin-top: 12px;
  margin-left: 28px;
}

#points {
  margin-left: 22px;
  margin-top: 12px;
}

#footer {
  position: fixed;
  bottom: 0px;
}
/*# sourceMappingURL=style.css.map */